.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.text {
  width: 100%;
  text-align: justify;
  font-weight: bold;
  margin-top: 100px;
}

.Input {
  width: 200px;
  height: 35px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
  box-sizing: border-box;

  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
}

.login {
  width: 100%;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0;
  box-sizing: border-box;

  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
}
